<h1>Articles</h1>

<% @articles.each do |article|  %>
  <div>
    <strong><%= article.name %></strong></br>  
    <%= article.description %>
    <%= link_to 'See More', article_path(article) %>
  </div>
  </br>
<% end %>

