<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %> Welcome to Prueba Omega Blog <%= @url %></h1>
      <div>
        <p>
          Hello <%= @user.email %> <br/>
          Please, visit this link: <%= @url %>
        </p>
      </div> 
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>